@using Microsoft.AspNetCore.Components

@{
    ViewData["Title"] = "Create Category";
    Layout = "_DashboardLayout";
}

@model Category

<section class="section-categories_create p-4">

    @* Title *@
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>Add new Category</h1>
            </div>
        </div>
    </div>

    @* INPUT *@
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <form asp-controller="Category" asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Insert name of category">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn-custom btn-violet">Add</button>
                </form>
            </div>
        </div>
    </div>
</section>
