@{
    ViewData["Title"] = "Category Page";
    Layout = "_DashboardLayout";
}

@model List<Category>

<div class="container">
    <div class="row">
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Create Category</a>
        </div>
    </div>
</div>

<div class="container">
    @foreach(Category category in Model)
    {
        <div class="row">
            <div class="col">
                <h1>@category.Name</h1>
                <form asp-controller="Category" asp-action="Delete" asp-route-id="@category.CategoryId" method="post" class="d-inline-block">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-custom btn-trasparent">
                        <i class="fa-solid fa-trash"></i>
                        CANCELLA
                    </button>
                </form>
            </div>
        </div>
    }
</div>