
<div class="container">
    <div class="row">
        <div class="col-auto">
            &copy; 2024 - FotoAlbum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</div>