@using Microsoft.AspNetCore.Identity
@using net_il_mio_fotoalbum.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string currentPage = ViewData["CurrentPage"] as string;
}

<nav class="page-navbar py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center flex-md-nowrap">

            @* LOGO *@
            <div class="col-auto">
                <div class="logo px-3 header-logo d-flex gap-2 align-items-center">
                    <i class="logo_icon fa-solid fa-camera-retro"></i>
                    <span class="d-none d-xl-block">MyPhotoAlbum</span>
                </div>
            </div>

            @* CENTRAL NAV  *@
            <div class="col-auto d-none d-sm-block">
                <ul class="navbar-nav flex-row ms-auto gap-0 gap-lg-2 gap-xl-3 ">
                    <li class="nav-item">
                        <a class="nav-link @(currentPage == "Home/Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="icon"><i class="fa-solid fa-house"></i></span>
                            <span class="d-none d-lg-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="icon"><i class="icon fa-solid fa-people-group"></i></span>
                            <span class="d-none d-lg-inline">About</span>
                        </a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="icon"><i class="fa-regular fa-address-book"></i></span>
                            <span class="d-none d-lg-inline">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="icon"><i class="fa-solid fa-shield-halved"></i></span>
                            <span class="d-none d-lg-inline">Privacy</span>
                        </a>
                    </li>
                </ul>
            </div>

            @* USER CONTROLLER *@
            <div class="col-auto d-none d-sm-block" style="min-width: 138px;">
                <partial name="_LoginPartial" />
            </div>
            <div class="col-auto d-sm-none">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="">
                        <i class="fa-solid fa-bars"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>

<div class="offcanvas offcanvas-end w-100" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">
            <i class="logo_icon fa-solid fa-camera-retro"></i>
            <span class="">MyPhotoAlbum</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto gap-lg-3 gap-2 py-3 border-3 border-bottom">
            <li class="nav-item d-flex">
                <a class="nav-link @(currentPage == "Home/Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span>Home</span>
                </a>
            </li>
              <li class="nav-item d-flex">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="icon"><i class="icon fa-solid fa-people-group"></i></span>
                    <span>About</span>
                </a>
            </li>
             <li class="nav-item d-flex">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="icon"><i class="fa-regular fa-address-book"></i></span>
                    <span>Contact</span>
                </a>
            </li>
            <li class="nav-item d-flex">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-shield-halved"></i></span>
                    <span>Privacy</span>
                </a>
            </li>
        </ul>


        <ul class="navbar-nav login ms-auto gap-lg-3 gap-2 py-3 ">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Admin")">
                        <span><i class="fa-solid fa-user-tie"></i></span>
                        <span>Admin</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <span><i class="fa-solid fa-gear"></i></span>
                        <span>Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link">
                            <span> <i class="fa-solid fa-right-from-bracket login-icon"></i></span>
                            <span>Logout</span>
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                        <span><i class="fa-regular fa-address-card login-icon"></i></span>
                        <span>Register</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                        <span><i class="fa-regular fa-circle-user login-icon"></i></span>
                        <span>Login</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
