@{
    ViewData["Title"] = "Category Page";
    Layout = "_DashboardLayout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Create Category</a>
        </div>
    </div>
</div>