* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* BACKGROUND COLORS*/
    --bg01: #9134e7;
    --bg02: #f1e8fd;
    --bg11: #ecedf0;
    --bg12: #fafafa;

    /* FONT */
    --f01: #743395;
    --f02: #4c2975;
    --f11: #191919;
    --f12: #6e6e70;
    --f13: #f2f2f2;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}

.object-fit-cover {
    object-fit: cover;
}

body {
    font-family: "Inter", sans-serif!important;
    font-weight: 500;
    font-size: 16px;
}

.app {
    height: 100vh;
    background-color: var(--bg12);
}

/* HEADER */

.page-header{
    border-bottom: 3px solid var(--bg11);
    color: var(--f11);
}

.logo {
    color: var(--f11)
}

.logo_icon{
    border: 1px solid var(--f11);
    padding: 6px;
    border-radius: 99px;
}

ul.navbar-nav a,
li.nav-item button.nav-link{
    color: var(--f11);
}

button.navbar-toggler {
    color: var(--f11);
    border-color: var(--f11);
}

li.nav-item a.nav-link,
li.nav-item button.nav-link {
    border-radius: 99px;
    padding: 6px 14px;
}

li.nav-item a.nav-link:hover,
li.nav-item button.nav-link:hover {
    background-color: var(--bg11);
    color: var(--f01);
}

.nav-link.active {
    color: var(--f01);
}

.nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--f01);
}

/* FILTR */

#titleFilter {
    border-radius: 99px;
    padding: 4px 16px;
    border-color: var(--f11)
}

#titleFilter:focus {
    border-color: var(--f01);
    color: var(--f01);
    outline: none;
}

/*MAIN PAGE*/

.card.card-custom {
    border-radius: 20px;
}

.card.card-custom img {
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.card.card-custom:hover img {
    filter: brightness(50%) grayscale(1%) blur(6px);
}

.card.card-custom:hover button {
    display: block!important;
}

/*BTN*/

.btn-custom {
    border-radius: 99px;
    border: 1px solid var(--f11);
    background-color: transparent;
    padding: 12px 26px;
    color: var(--f11);
}

.btn-custom:hover {
    background-color: var(--bg11);
    color: var(--f01);
    border-color: var(--f01)
}

.btn-custom.btn-cover-image {
    border-radius: 99px;
    border: 2px solid white;
    background-color: transparent;
    padding: 12px 26px;
    color: white;
}

.btn-custom.btn-cover-image:hover {
    background-color: white;
    color: var(--f11);
}

.btn-custom.btn-violet {
    color: var(--f01);
    border-color: var(--f01)
}

.btn-custom.btn-violet:hover {
    background-color: var(--bg01);
    color: white;
}


.btn-trasparent {
    background-color: transparent;
    padding: 12px 26px;
    color: var(--orange);
    border-color: var(--orange);
}

.btn-trasparent:hover {
    background-color: var(--orange);
    color: white;
}



